In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Country_Wise     = pd.read_csv(r'C:\Users\admin\Desktop\Practice Assignment for Python\Covid-19\country_wise_latest.csv')
Clean_Complete   = pd.read_csv(r'C:\Users\admin\Desktop\Practice Assignment for Python\Covid-19\covid_19_clean_complete.csv')
Day_Wise         = pd.read_csv(r'C:\Users\admin\Desktop\Practice Assignment for Python\Covid-19\day_wise.csv')
Full_Grouped     = pd.read_csv(r'C:\Users\admin\Desktop\Practice Assignment for Python\Covid-19\full_grouped.csv')
USA_Country      = pd.read_csv(r'C:\Users\admin\Desktop\Practice Assignment for Python\Covid-19\usa_country_wise.csv')
Worldometer_data = pd.read_csv(r'C:\Users\admin\Desktop\Practice Assignment for Python\Covid-19\worldometer_data.csv')

# Data Cleaning Of Country_Wise Table

In [3]:
Country_Wise.head(1)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.5,69.49,5.04,35526,737,2.07,Eastern Mediterranean

In [4]:
print(f"Total Rows & Columns is: ",Country_Wise.shape)

Total Rows & Columns is:  (187, 15)

In [5]:
Country_Wise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

In [6]:
# checking duplicate values in dataset
print(f"The Duplicate Value is: ", Country_Wise.duplicated().sum())

# checking null values
missing_values = Country_Wise.isnull().sum()
print(f"The missing values are belows:\n{missing_values}")

The Duplicate Value is:  0
The missing values are belows:
Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

# Data Cleaning Of Clean_Complete Table

In [7]:
Clean_Complete.head(1)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean

In [8]:
print(f"Total Rows & Columns is: ",Clean_Complete.shape)
Clean_Complete.info()

Total Rows & Columns is:  (49068, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [9]:
# Changing Datatype of Date object into datetime
Clean_Complete['Date']=pd.to_datetime(Clean_Complete['Date'])
# Clean_Complete['Date']=Clean_Complete['Date'].dt.date

# checking again columns datatypes
Clean_Complete.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
WHO Region                object
dtype: object

In [10]:

# checking duplicate values in dataset
print(f"The Duplicate Value is: ", Clean_Complete.duplicated().sum())

# checking null values
missing_values = Clean_Complete.isnull().sum()
print(f"The missing values are belows:\n{missing_values}")

# filling null values with mode of Province/State columns
Clean_Complete['Province/State'].fillna(Clean_Complete['Province/State'].mode()[0],inplace=True)

The Duplicate Value is:  0
The missing values are belows:
Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

C:\Users\admin\AppData\Local\Temp\ipykernel_11648\4243664809.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Clean_Complete['Province/State'].fillna(Clean_Complete['Province/State'].mode()[0],inplace=True)

# Data Cleaning Of Day_Wise Table

In [11]:
Day_Wise.head(1)

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6

In [12]:
print(f"Total Rows & Columns is: ",Day_Wise.shape)
Day_Wise.info()

Total Rows & Columns is:  (188, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    188 non-null    object
 1   Confirmed               188 non-null    int64
 2   Deaths                  188 non-null    int64
 3   Recovered               188 non-null    int64
 4   Active                  188 non-null    int64
 5   New cases               188 non-null    int64
 6   New deaths              188 non-null    int64
 7   New recovered           188 non-null    int64
 8   Deaths / 100 Cases      188 non-null    float64
 9   Recovered / 100 Cases   188 non-null    float64
 10  Deaths / 100 Recovered  188 non-null    float64
 11  No. of countries        188 non-null    int64
dtypes: float64(3), int64(8), object(1)
memory usage: 17.8+ KB

In [13]:
# changing datatype of date column
Day_Wise['Date']=pd.to_datetime(Day_Wise['Date'])

# checking again datatypes
Day_Wise.dtypes

Date                      datetime64[ns]
Confirmed                          int64
Deaths                             int64
Recovered                          int64
Active                             int64
New cases                          int64
New deaths                         int64
New recovered                      int64
Deaths / 100 Cases               float64
Recovered / 100 Cases            float64
Deaths / 100 Recovered           float64
No. of countries                   int64
dtype: object

# Data Cleaning Of Full_Grouped Table

In [14]:
Full_Grouped.head(2)

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe

In [15]:
print(f"Total Rows & Columns is: ",Full_Grouped.shape)
Full_Grouped.info()

Total Rows & Columns is:  (35156, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35156 entries, 0 to 35155
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            35156 non-null  object
 1   Country/Region  35156 non-null  object
 2   Confirmed       35156 non-null  int64
 3   Deaths          35156 non-null  int64
 4   Recovered       35156 non-null  int64
 5   Active          35156 non-null  int64
 6   New cases       35156 non-null  int64
 7   New deaths      35156 non-null  int64
 8   New recovered   35156 non-null  int64
 9   WHO Region      35156 non-null  object
dtypes: int64(7), object(3)
memory usage: 2.7+ MB

In [16]:
# changing date column datatypes object to datetime
Full_Grouped['Date']=pd.to_datetime(Full_Grouped['Date'])

# Checking again datatypes
Full_Grouped.dtypes

Date              datetime64[ns]
Country/Region            object
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
New cases                  int64
New deaths                 int64
New recovered              int64
WHO Region                object
dtype: object

# Data Cleaning Of USA_Country Table

In [17]:
USA_Country.head(5)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0

In [18]:
print(f"TIn this Dataset Total Rows & Columns has:",USA_Country.shape)
USA_Country.info()

TIn this Dataset Total Rows & Columns has: (627920, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627920 entries, 0 to 627919
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   UID             627920 non-null  int64
 1   iso2            627920 non-null  object
 2   iso3            627920 non-null  object
 3   code3           627920 non-null  int64
 4   FIPS            626040 non-null  float64
 5   Admin2          626792 non-null  object
 6   Province_State  627920 non-null  object
 7   Country_Region  627920 non-null  object
 8   Lat             627920 non-null  float64
 9   Long_           627920 non-null  float64
 10  Combined_Key    627920 non-null  object
 11  Date            627920 non-null  object
 12  Confirmed       627920 non-null  int64
 13  Deaths          627920 non-null  int64
dtypes: float64(3), int64(4), object(7)
memory usage: 67.1+ MB

In [19]:
# changing datatypes of date column object to date
USA_Country['Date']=pd.to_datetime(USA_Country['Date'])

# Checking again datatypes
USA_Country.dtypes

C:\Users\admin\AppData\Local\Temp\ipykernel_11648\3346972547.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  USA_Country['Date']=pd.to_datetime(USA_Country['Date'])

UID                        int64
iso2                      object
iso3                      object
code3                      int64
FIPS                     float64
Admin2                    object
Province_State            object
Country_Region            object
Lat                      float64
Long_                    float64
Combined_Key              object
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
dtype: object

In [20]:
# Find missing values 
missing_values = USA_Country.isnull().sum()
print(f"The missing values are as below\n{missing_values}")

The missing values are as below
UID                  0
iso2                 0
iso3                 0
code3                0
FIPS              1880
Admin2            1128
Province_State       0
Country_Region       0
Lat                  0
Long_                0
Combined_Key         0
Date                 0
Confirmed            0
Deaths               0
dtype: int64

In [21]:
# filling missing values with mode of Admin2 column 
USA_Country['Admin2'].fillna(USA_Country['Admin2'].mode()[0],inplace=True)

# checking again missing values
missing_values = USA_Country.isnull().sum()
print(f"The missing values are as below\n{missing_values}")

# filling missing values of FIPS columns with mean value
USA_Country['FIPS']=USA_Country['FIPS'].fillna(USA_Country['FIPS'].mean())

# checking again missing values
missing_values = USA_Country.isnull().sum()
print(f"The missing values are as below\n{missing_values}")

C:\Users\admin\AppData\Local\Temp\ipykernel_11648\4085822116.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  USA_Country['Admin2'].fillna(USA_Country['Admin2'].mode()[0],inplace=True)

The missing values are as below
UID                  0
iso2                 0
iso3                 0
code3                0
FIPS              1880
Admin2               0
Province_State       0
Country_Region       0
Lat                  0
Long_                0
Combined_Key         0
Date                 0
Confirmed            0
Deaths               0
dtype: int64
The missing values are as below
UID               0
iso2              0
iso3              0
code3             0
FIPS              0
Admin2            0
Province_State    0
Country_Region    0
Lat               0
Long_             0
Combined_Key      0
Date              0
Confirmed         0
Deaths            0
dtype: int64

# Data Cleaning Of Worldometer_data Table

In [22]:
Worldometer_data.head(2)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,331198130.0,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,212710692.0,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas

In [23]:
print(f"In this Dataset Total Rows & Column has :", Worldometer_data.shape)

Worldometer_data.info()

In this Dataset Total Rows & Column has : (209, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Region    209 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    float64
 3   TotalCases        209 non-null    int64
 4   NewCases          4 non-null      float64
 5   TotalDeaths       188 non-null    float64
 6   NewDeaths         3 non-null      float64
 7   TotalRecovered    205 non-null    float64
 8   NewRecovered      3 non-null      float64
 9   ActiveCases       205 non-null    float64
 10  Serious,Critical  122 non-null    float64
 11  Tot Cases/1M pop  208 non-null    float64
 12  Deaths/1M pop     187 non-null    float64
 13  TotalTests        191 non-null    float64
 14  Tests/1M pop      191 non-null    float64
 15  WHO Region        184 non-null    object
dtypes: float64(12), int64(1), object(3)
memory usage: 26.3+ KB

In [24]:
# find out missing values of columns
missing_values = Worldometer_data.isnull().sum()
print(f"The missing values are as below\n{missing_values}")

# # filling missing values of Continent column
Worldometer_data['Continent'].fillna(Worldometer_data['Continent'].mode()[0],inplace=True)

# # filling missing values of Population column
Worldometer_data['Population']=Worldometer_data['Population'].fillna(Worldometer_data['Population'].mean())

#  filling missing values of NewCases column
Worldometer_data['NewCases']=Worldometer_data['NewCases'].fillna(0)

# filling  missing values of Newdeaths column
Worldometer_data['NewDeaths']=Worldometer_data['NewDeaths'].fillna(0)

# filling missing values of NewRecovered column
Worldometer_data['NewRecovered']=Worldometer_data['NewRecovered'].fillna(0)

# filling missing values of TotalDeaths column
Worldometer_data['TotalDeaths']=Worldometer_data['TotalDeaths'].fillna(Worldometer_data['TotalDeaths'].mean())

# filling missing values of TotalRecovered column
Worldometer_data['TotalRecovered']=Worldometer_data['TotalRecovered'].fillna(Worldometer_data['TotalRecovered'].mean())

# filling missing values of Activecases column
Worldometer_data['ActiveCases']=Worldometer_data['ActiveCases'].fillna(Worldometer_data['ActiveCases'].mean())

# filling missing values of Serious,Critical column
Worldometer_data['Serious,Critical']=Worldometer_data['Serious,Critical'].fillna(Worldometer_data['Serious,Critical'].mean())

# filling missing values of Tot Cases/1M pop column
Worldometer_data['Tot Cases/1M pop']=Worldometer_data['Tot Cases/1M pop'].fillna(Worldometer_data['Tot Cases/1M pop'].mean())

# filling missing values of Deaths/1M pop column
Worldometer_data['Deaths/1M pop']=Worldometer_data['Deaths/1M pop'].fillna(Worldometer_data['Deaths/1M pop'].mean())

# filling missing values of TotalTests  column
Worldometer_data['TotalTests']=Worldometer_data['TotalTests'].fillna(Worldometer_data['TotalTests'].mean())

# filling missing values of Tests/1M pop  column
Worldometer_data['Tests/1M pop']=Worldometer_data['Tests/1M pop'].fillna(Worldometer_data['Tests/1M pop'].mean())

# filling missing values of WHO Region column
Worldometer_data['WHO Region'].fillna(Worldometer_data['WHO Region'].mode()[0],inplace=True)

The missing values are as below
Country/Region        0
Continent             1
Population            1
TotalCases            0
NewCases            205
TotalDeaths          21
NewDeaths           206
TotalRecovered        4
NewRecovered        206
ActiveCases           4
Serious,Critical     87
Tot Cases/1M pop      1
Deaths/1M pop        22
TotalTests           18
Tests/1M pop         18
WHO Region           25
dtype: int64

C:\Users\admin\AppData\Local\Temp\ipykernel_11648\1178266870.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Worldometer_data['Continent'].fillna(Worldometer_data['Continent'].mode()[0],inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_11648\1178266870.py:45: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Worldometer_data['WHO Region'].fillna(Worldometer_data['WHO Region'].mode()[0],inplace=True)

In [25]:
# checking again datatype 
Worldometer_data.dtypes

# changing datatypes float to int
col_to_convert_int = ['NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop']

for col in col_to_convert_int:
    Worldometer_data[col]=Worldometer_data[col].astype(int)
    
# Check if columns converted
# print(Worldometer_data[col_to_convert_int].dtypes)

# checking again datatype 
Worldometer_data.dtypes

Country/Region       object
Continent            object
Population          float64
TotalCases            int64
NewCases              int64
TotalDeaths           int64
NewDeaths             int64
TotalRecovered        int64
NewRecovered          int64
ActiveCases           int64
Serious,Critical      int64
Tot Cases/1M pop      int64
Deaths/1M pop         int64
TotalTests            int64
Tests/1M pop          int64
WHO Region           object
dtype: object

In [26]:
# Prepare your data for data analysis 
# Analysing total cases Death,Recovered & active cases
# Perform EDA on Data 
# Analysing those countries that gets badly affected by corona

In [27]:
# Calculating Toatl Cases
Total_Cases = Worldometer_data['TotalCases'].sum()
print(f"Total Cases is: ", Total_Cases)

# calculating Total Deaths
Total_Deaths = Worldometer_data['TotalDeaths'].sum()
print(f"Total Deaths is:" , Total_Deaths)

# Calculating Total Recoved Patience
Recovered_Patience = Worldometer_data['TotalRecovered'].sum()
print(f"The Total Recovered Patience is: ", Recovered_Patience)

# Calculating Active Cases
Active_Cases = Worldometer_data['ActiveCases'].sum()
print(f"The Toatal Cases is: ", Active_Cases)

Total Cases is:  19169166
Total Deaths is: 792639
The Total Recovered Patience is:  12305703
The Toatal Cases is:  5781843

In [28]:
# Analysing those countries that gets badly affected by corona
grouped_Data = Worldometer_data.groupby('Country/Region')['TotalCases'].sum().sort_values(ascending=False)
print(grouped_Data)

# find out maximum cases by country
Highes_Country = Worldometer_data.groupby('Country/Region')['TotalCases'].sum().idxmax()
Highest_count = grouped_Data.max()
print(f"The Highest Cases found Country in {Highes_Country} & Total Cases is {Highest_count}")

Country/Region
USA                      5032179
Brazil                   2917562
India                    2025409
Russia                    871894
South Africa              538184
                          ...
Caribbean Netherlands         13
Falkland Islands              13
Montserrat                    13
Vatican City                  12
Western Sahara                10
Name: TotalCases, Length: 209, dtype: int64
The Highest Cases found Country in USA & Total Cases is 5032179